[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/x/Desktop/Blender]
row=6
col=0

[/home/x/Desktop/ISO]
row=0
col=1

[/home/x/Desktop/Godot]
row=7
col=0

[2818E6E318E6AF4E]
row=2
col=0

[6160d612-e472-4ae0-8745-113ed2039c6a]
row=1
col=0

[3CE48DA4E48D614E]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/x]
row=5
col=0

